.Navbar {
    display: grid;
    grid-row: 1/2;
    justify-items: flex-start;
    text-align: left;
    background-color: #282c34;
    color: red;
    margin: 0;
    padding-left: 1rem;
  }
  