.activeResult--container {
  display: grid;
  grid-template-rows: 60px 90px 30px 30px 150px;
  grid-template-columns: 25% 75%;

  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../../images/netflix_background.jpg);
  background-size: cover;
  border-bottom: solid;
  border-width: 5px;
  border-color: #555555;
}

.activeResult--img {
  grid-row: 2/6;
  grid-column: 1/2;
  display: flex;
  justify-self: center;
  height: 220px;
  width: auto;
}
.activeResult--title {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: left;
  color: #ffffff;
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 24px;
}
.activeResult--genre {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
}

.activeResult--duration {
  grid-row: 4/5;
  display: flex;
  grid-column: 2/3;
  margin-top: -10px;
}

.activeResult--rating {
  width: 40px;
  height: 40px;
  border-color: #ffffff;
  border: dotted;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 40px;
  color: darkgreen;
}

.activeResult--released {
  padding-left: 0px;
}

.activeResult--description {
  grid-column: 2/3;
  grid-row: 5/6;
  color: #ffffff;
}
